[submodule "hue_depth_encoding"]
	path = hue-depth-encoding
	url = https://github.com/cheind/hue-depth-encoding.git
[submodule "hue-depth-encoding"]
	path = hue-depth-encoding
	url = https://github.com/cheind/hue-depth-encoding.git
